<meta charset="utf-8">
{% if viewport -%}
<meta name="viewport" content="{{ viewport }}">
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endif %}
<title>{{ title }}</title>
<meta name="generator" content="{{ eleventy.generator }}">
{% if meta.author.name -%}
<meta name="author" content="{{ meta.author.name }}">
{% endif %}
<meta name="description" content="{{ description }}">
{% if meta.keywords -%}
<meta name="keywords" content="{{ meta.keywords }}">
{% endif %}
{% if meta.mobile-theme-col -%}
<meta name="theme-color" content="{{ meta.mobile-theme-col }}">
{% endif %}
{% if meta.fb_app_id -%}
<meta property="fb:app_id" content="{{ meta.fb_app_id }}">
{% endif %}
{# -------------------------------
Internal JS and CSS are placed in the head
of the page, these are dependencies that
should be loaded before display of the page.
 ------------------------------- #}
{% if common_css -%}
{% for css in common_css %}
<link href="{{ css }}" rel="stylesheet"/>
{% endfor %}{% endif %}
{# ------------------------------- #}
{% if common_js -%}
{% for js in common_js %}
<script src="{{ js }}" type="text/javascript"></script>
{% endfor %}{% endif %}
{# ------------------------------- #}
