---
permalink: "allposts.json"
---
[
{#
{% for p in collections.posts %}
  {
    "url": "{{ p.url | url }}",
    "title": "{{ p.data.title }}",
    "date": "{{ p.data.page.date | readableDate }}"
  }{% if not loop.last %},{% endif %}
{% endfor %}
#}
]
