<!DOCTYPE html>
<html>

<head>
  <title>Kace Ong - Singapore, Software Developer</title>
  <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
  <meta content='width=device-width, minimum-scale=1' name='viewport'>
  <meta content='on' http-equiv='cleartype'>
  <meta content='index' name='robots'>
  <meta content='True' name='HandheldFriendly'>
  <meta content='320' name='MobileOptimized'>
  <meta content='software, developer' name='keywords'>
  <meta content='Kace Ong' name='author'>
  <meta content='About Kace Ong' property='og:site_name'>
  <meta content='About Kace Ong' property='og:title'>
  <meta content='About Kace Ong' name='twitter:title'>
  <meta content='Kace is a techie in Singapore.  View Kace’s portfolio from his page.' name='description'>
  <meta content='Kace is a techie in Singapore.  View Kace’s portfolio from his page.' property='og:description'>
  <meta content='Kace is a techie in Singapore.  View Kace’s portfolio from his page.' name='twitter:description'>
  <meta content='https://kaceong.com/assets/img/face_kace2.png' property='og:image'>
  <meta content='1200' property='og:image:width'>
  <meta content='630' property='og:image:height'>
  <meta content='https://kaceong.com/assets/img/face_kace2.png' name='twitter:image'>
  <meta content='1024' name='twitter:image:width'>
  <meta content='512' name='twitter:image:height'>
  <meta content='summary_large_image' name='twitter:card'>
  <meta content='en_US' property='og:locale'>
  <meta content='https://kaceong.com' property='og:url'>
  <meta content='https://kaceong.com' name='twitter:url'>
  <meta content='@kaceo' name='twitter:creator'>
  <!-- %meta{:content => "@aboutdotme", :name => "twitter:site"}/ -->
  <!-- %meta{:content => "aboutme_prod:page", :property => "og:type"}/ -->
  <!-- %meta{:content => "249413078192", :property => "fb:app_id"}/ -->
  <!-- %meta{:content => "828605907544-2lag7tdq7k3ebk4pvjiu45vdpggiu2k0.apps.googleusercontent.com", :name => "google-signin-client_id"}/ -->
  <!-- %meta{:content => "#329c85", :name => "msapplication-TileColor"}/ -->
  <!-- %meta{:content => "https://cdn.about.me/images/icons/favicon/favicon-144-MS.png", :name => "msapplication-TileImage"}/ -->
  <!-- %link{:href => "https://cdn.about.me/images/icons/favicon/favicon-152.png", :rel => "apple-touch-icon"}/ -->
  <!-- %link{:href => "https://cdn.about.me/images/icons/favicon/favicon.ico", :rel => "shortcut icon"}/ -->
  <link href="/assets/css/aboutme.css" rel="stylesheet" />
  <style>
    body {
      background-color: #333;
    }

    .theface {
      background-image: url(assets/img/face_kace2.png) !important;
      background-position: 50% 30%;
    }

    .topnav {
      background-color: #832 !important;
    }

    .logo {
      color: #fff !important;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class='page-container'>
    <div class='page-content color-dark'>


      <nav class='topnav template-large'>
        <ul class='applinks'>
          <li class='logo-container'>
            <a class='logo' href='/'>
              KaceO
            </a>
          </li>
        </ul>
        <ul class='userlinks'>
          <li>
            <a class='button outlined' href='/science'>
              Science
            </a>
          </li>
          <li>
            <a class='button outlined' href='/arts'>
              Arts
            </a>
          </li>
          <li>
            <a class='button outlined' href='/secret'>
              Secret
            </a>
          </li>
        </ul>
      </nav>



      <main>
        <div class='profile-column'>
          <div class='profile-container'>
            <div class='profile large cedar'>
              <div class='profile-content'>
                <div class='head'>
                  <div class='image theface'></div>
                  <section class='name-headline'>
                    <section>
                      <h1 class='name'>Kace Ong</h1>
                    </section>
                    <section>
                      <h2 class='headline'>
                        <span class='roles'>
                          <span class='role'>Founder,</span>
                          <span class='role'>Developer,</span>
                          and
                          <span class='role'>Consultant</span>

                        </span>
                        <span class='locations'>
                          in
                          <span class='location'>Singapore</span>
                        </span>
                      </h2>
                    </section>
                  </section>
                </div>
                <div class='body'>
                  <section class='name-headline'>
                    <section>
                      <h1 class='name'>Kace Ong</h1>
                    </section>
                    <section>
                      <h2 class='headline'>
                        <span class='roles'>
                          <span class='role'>Founder,</span>
                          <span class='role'>Developer,</span>
                          and
                          <span class='role'>Consultant</span>

                        </span>
                        <span class='location'>
                          in
                          <span class='location'>Singapore</span>
                        </span>
                      </h2>
                    </section>
                  </section>
                  <section class='spotlight'>
                    <a class='spotlight button large dark glyph-portfolio' href='http://drcx.co'
                      rel='noopener noreferrer' style='background-color:#AEAEAE;color:#fff;' target='_blank'>
                      View my portfolio
                    </a>
                  </section>
                  <section class='bio'>
                    <div>
                      {{ content }}
                    </div>
                  </section>
                  <section class='interests'>
                    <ul class='inline'>
                      <li class='interest'>
                        #writing
                      </li>
                      <li class='interest'>
                        #animation
                      </li>
                      <li class='interest'>
                        #filmmaking
                      </li>
                      <li class='interest'>
                        #tinkering
                      </li>
                      <li class='interest'>
                        #cooking
                      </li>
                    </ul>
                  </section>
                  <section class='meta'>
                    <ul class='meta-sections'>
                      <li class='jobs meta-section'>
                        <div class='meta-header'>Work</div>
                        <ul class='meta-list'>
                          <li class='meta-item text ellipsis'>Tango East | Telematique</li>
                        </ul>
                      </li>
                      <li class='meta-section schools'>
                        <div class='meta-header'>Education</div>
                        <ul class='meta-list'>
                          <li class='meta-item text ellipsis'>Nanyang Technological University | National University of
                            Singapore</li>
                        </ul>
                      </li>
                    </ul>
                  </section>
                  <section class='social-links'>
                    <ul class='inline'>
                      <li>
                        <a class='social-link' href='https://www.facebook.com/ong.kace/' rel='noopener noreferrer'
                          target='_blank' title='Visit me on facebook'>
                          <span class='SVGInline'>
                            <svg class='SVGInline-svg' viewbox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'>
                              <path
                                d='M1000 500c0 233-159 429-375 484v-380h107l18-125h-125v-110c0-36 18-56 55-56h79v-117s-37-8-90-8c-120 0-180 67-180 166v125h-114v125h114v396c-271-6-489-228-489-500 0-276 224-500 500-500s500 224 500 500z'>
                              </path>
                            </svg>
                          </span>

                        </a>
                      </li>
                      <li>
                        <a class='social-link' href='https://www.twitter.com/imrichardthomas' rel='noopener noreferrer'
                          target='_blank' title='Visit me on twitter'>
                          <span class='SVGInline'>
                            <svg class='SVGInline-svg' viewbox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'>
                              <path
                                d='M1000 500c0 277-223 500-500 500s-500-223-500-500 223-500 500-500 500 223 500 500zm-125-183c-25 11-53 18-82 22 30-17 51-45 61-79-28 17-57 28-89 35-25-28-62-45-103-45-78 0-141 63-141 142 0 10 1 22 3 32-118-5-223-62-294-149-11 22-18 46-18 72 0 50 24 93 62 118-23 0-45-7-64-18v2c0 69 49 126 114 140-12 3-24 4-37 4-9 0-19-1-27-2 18 57 71 95 132 96-48 38-108 65-176 65-11 0-23-1-33-2 62 40 138 62 217 62 262 0 404-216 404-404v-18c28-19 51-45 71-73z'>
                              </path>
                            </svg>
                          </span>

                        </a>
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>



    </div>
  </div>
</body>

</html>
