---
permalink: "/posts/"
layout: page

---
<!--
permalink: "/posts/{{paged.number}}/"
pagination:
  size: 1
  data: collections.pagedPosts
  alias: paged
  pagination:
    data: collections
    size: 1
    alias: tag
    filter:
      - all
      - post
      - posts
      - tagList
    addAllPagesToCollections: true
  pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged

  permalink: if paged.number > 1 page/ paged.number endif index.html

eleventyComputed:

comments: >
  div(class="flex flex-wrap -mx-2")
    include partials/post-grid.

  if collections.posts.length > site.paginate
    include partials/paginator

-->

{% set postslist = collections.allPosts %}


<h1>Posts</h1>
<p>See <a href="/tags/">See All Tags</a>.</p>


Number of Articles = {{ postslist|length }}



{#% //include "posts/postslist.njk" %#}

<ol class="postlist" reverse>
{% for post in postslist | reverse %}

  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url }}" class="postlist-link">

      {{ post.data.title  }}
    </a>
  </li>

{% endfor %}
</ol>

