---
permalink: "/tag/{{ tagone | slugify }}/"
layout: page
#dynamicPermalink: false
#excludeFromCollections: true

pagination:
  alias: tagone
  data: collections.allTags
  size: 1
  #filter:
  #  - articles


eleventyComputed:
  title: "Tagged with \"{{ tagone | capitalize }}\""
---
<!--
- var tagsgroup = collections.tagList
-->
<!--
permalink: "/tag/{{ tags.slug }}/"
-->

{% set tagsgroup = collections[ tagone ] %}

<h1>{{ title }}</h1>

<h2>({{ tagsgroup|length }})</h2>



<p>
<!-- //include /tailwind/tagschrome.pug -->
{% for c in tagsgroup %}
  <p>{{ c.url}} = {{c.data.title}}</p>
{% endfor %}

<hr/>
<a href="/tags/">See All Tags</a>

