<!DOCTYPE html>
<html lang="en-GB" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title itemprop="name">Mundial de Tango 2017</title>

    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="robots" content="noindex"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Mundial de Tango 2017"/>
    <meta itemprop="url" property="og:url" content="https://sites.google.com/view/tangoba2017/home"/>
    <meta itemprop="thumbnailUrl" content="https://ssl.gstatic.com/atari/images/atari-logo.png"/>
    <meta itemprop="image" content="https://ssl.gstatic.com/atari/images/atari-logo.png"/>
    <link rel="icon" href="https://ssl.gstatic.com/atari/images/favicon_2.ico"/>

    <link href="https://fonts.googleapis.com/css?family=Playfair%20Display%3A400%2C700%2C900%7COpen%20Sans%3A400%2C400italic%2C600%2C600italic%2C700%2C700italic&display=swap" rel="stylesheet" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,500,700|Source+Code+Pro:400,700&display=swap" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://www.gstatic.com/_/atari/_/ss/k=atari.vw.BVAANZwxRXc.L.W.O/d=1/ct=zgms/rs=AGEqA5ljXcdTBXNraBgJuH0liFyfepy8fQ"/>

    <script src="https://apis.google.com/js/client.js?onload=gapiLoaded" nonce="SjtordIsZZfeMxA0PnE8kg"></script>

  </head>
  <body dir="ltr" itemscope itemtype="http://schema.org/WebPage">

    <div role="main">
      <section>

        <a target="_blank" title="Open Spreadsheet, 2017 Mundial Road to Luna Park" href="https://drive.google.com/open?authuser=0&amp;id=1Jch78RPJ8Gu9LbxrQsQp4fg8P1B7pXTwUsDRgD0WPK8">
        </a>

        <iframe
        jsname="L5Fo6c" jscontroller="usmiIb" jsaction="rcuQ6b:WYd;"
        sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads"
        frameborder="0"
        aria-label="Spreadsheet, 2017 Mundial Road to Luna Park"
        data-src="https://docs.google.com/spreadsheets/d/1Jch78RPJ8Gu9LbxrQsQp4fg8P1B7pXTwUsDRgD0WPK8/htmlembed?authuser=0"
        allowfullscreen>
        </iframe>

      </section>
    </div>
  </body>
</html>



