---
permalink: /
layout: littlelinks

title: About KaceO
avatar: assets/avatar.png
shortbio: Kace at Telematique
longbio: >
  I'm a software engineer who is passionate about Arts and Open-Source.
  Some technologies I enjoy working with include VueJS, Jamstack and Cloud Computing.

allmylinks:
- title: Home
  url: https://www.kaceong.com
  type: default
  icon: littlelink.svg

- title: Facebook
  url: https://facebook.com/ong.kace
  type: faceb
  icon: facebook.svg

- title: Medium
  url: https://medium.com/@kaceong
  type: medium
  icon: medium.svg

#eleventyComputed:

---
