---
---

{% set title %}
  {% if page.share-title %}
    {{ page.share-title }}
  {% elif page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
{% endset %}

{% set description %}
  {% if page.share-description %}
    {{ page.share-description }}
  {% elif page.subtitle %}
    {{ page.subtitle }}
  {% endif %}
{% endset  %}

<head>
  <title>{{ title }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <meta name="author" content="{{ author }}">
  <meta name="description" content="{{ description }}">




  <title>{{ post.title }} | {{ site.brand }} </title>

  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <!--alink href="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/gallery-materialize.min.opt.css?v=2712806895171545730" rel="stylesheet" -->

</head>


=================
//-
  if page.share-title
    var title = page.share-title
  else if page.title
    var title = page.title
  else
    var title = site.title


  if page.share-description
    var description = page.share-description
  else if page.subtitle
    var description = page.subtitle
  else
    var excerpt_length = site.excerpt_length | default: 50
    var description = {{ page.content | strip_html | xml_escape | truncatewords: excerpt_length | strip }}


  if page.share-img
    var img = page.share-img
  else if page.cover-img
    if page.cover-img.first
      var img = page.cover-img[0].first.first
    else
      var img = page.cover-img
  else if page.thumbnail-img
    var img = page.thumbnail-img
  else if site.avatar
    var img = site.avatar
  var img = img | strip

var title = 'Test''

meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
title {{ title }}


//-
  if site.author
    meta(name="author" content="{{ site.author }}"

  meta(name="description" content="{{ description }}")

  if site."mobile-theme-col"
    meta name="theme-color" content="{{ site.mobile-theme-col }}")

  if site.keywords
    meta(name="keywords" content="{{ site.keywords }}")

  link(rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}")

  // include gtag.html
  // include gtm_head.html
  // include google_analytics.html

  if layout.common-ext-css
    for css in layout.common-ext-css
      // include ext-css.html css=css

  if layout.common-css
    for css in layout.common-css
      link(rel="stylesheet" href="{{ css | relative_url }}")

  if site.site-css
    for css in site.site-css
      link(rel="stylesheet" href="{{ css | relative_url }}")

  if page.ext-css
    for css in page.ext-css
      //include ext-css.html css=css

  if page.css
    for css in page.css
      link(rel="stylesheet" href="{{ css | relative_url }}")

  if site.fb_app_id
    meta(property="fb:app_id" content="{{ site.fb_app_id }}")

  if site.title
    meta(property="og:site_name" content="{{ site.title }}")

  meta(property="og:title" content="{{ title }}")
  meta(property="og:description" content="{{ description }}")

  if img != ""
    meta(property="og:image" content="{{ img | absolute_url }}")

  if page.id
    meta(property="og:type" content="article")
    meta(property="og:article:author" content="{{ site.author }}")
    meta(property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}")
    meta(property="og:url" content="{{ page.url | absolute_url }}")
    link(rel="canonical" href="{{ page.url | absolute_url }}")
  else
    meta(property="og:type" content="website")
    meta(property="og:url" content="{{ page.url | absolute_url | strip_index }}")
    link(rel="canonical" href="{{ page.url | absolute_url | strip_index }}")

  if img != "" and img != site.avatar
    meta(name="twitter:card" content="summary_large_image")
  else
    meta(name="twitter:card" content="summary")

  meta name="twitter:site" content="@{{ site.social-network-links.twitter }}")
  meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}")
  meta(property="twitter:title" content="{{ title }}")
  meta(property="twitter:description" content="{{ description }}")

  if img != ""
    meta(name="twitter:image" content="!{ img | absolute_url }")

  if page.comments and site.staticman.repository and site.staticman.branch
    link(rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}")

  if page.head-extra
    for file in page.head-extra
      //include {{ file }}
