<div>
  <h2> Quick Links (NJK)</h2>
  <p>title {{ title }}</p>
  <ul>
    <li>
      <a href="{{ '/' | url }}"> Home</a>
    </li>
    <li>
      <a href="{{ '/about/' | url }}"> About</a>
    </li>
    <li>
      <a href="{{ '/blog/' | url }}"> Blog</a>
    </li>
    <li>
      <a href="{{ '/work/' | url }}"> Work</a>
    </li>
    <li>
      <a href="{{ '/404.html' | url }}"> Error</a>
    </li>
    <li>
      <a href="{{ '/sitemap.xml' | url }}"> Site Map</a>
    </li>
    <li>
      <a href="{{ '/feed.xml' | url }}"> RSS feed</a>
    </li>
  </ul>
</div>
<hr>
