<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/keynavigationjQuery" version="1.0.0" viewmodes="maximized">
    <tizen:application id="aZ7BvRoPrf.keynavigationjQuery" package="aZ7BvRoPrf" required_version="2.3"/>
    <content src="keynavigationjQuery.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>keynavigationjQuery</name>
    <tizen:profile name="tv"/>
</widget>
